{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">

    <article class="article" itemscope itemtype="http://schema.org/Article">
        {{ if .Params.image }}
            <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner" itemprop="image">
        {{end}}

        <h1 itemprop="name">{{ .Title }}</h1>

        <div class="article-style" itemprop="articleBody">
            {{ .Content }}
        </div>


        {{$authors_len := len .Params.authors}}
        {{ if ge $authors_len 1}}
        <div class="row">
            <div class="col-xs-12 col-md-6 article-published-at">
                <i>Published on:</i> <p>{{ .Date.Format "Jan 2, 2006" }}</p>
            </div>
            <div class="col-xs-12 col-md-6 article-authors">
                <i>Authors:</i>
                <div itemprop="author">
                        {{if gt $authors_len 1}}
                            {{ range first (sub $authors_len 1) .Params.authors }}
                                {{ if .is_member }}
                                    <a href="/member/{{.name}}">{{.name}}</a>,
                                {{else}}
                                    {{.name}}
                                {{end}}
                            {{ end }}
                            {{ range last 1 .Params.authors }}
                                {{ if .is_member }}
                                    <a href="/member/{{.name}}">{{.name}}</a>
                                {{else}}
                                    {{.name}}
                                {{end}}
                            {{end}}
                        {{else}}
                            {{range .Params.authors }}
                                {{ if .is_member }}
                                    <a href="/member/{{.name}}">{{.name}}</a>
                                {{else}}
                                    {{.name}}
                                {{end}}
                            {{end}}
                        {{end}}
                </div>
            </div>
        </div>
        {{end}}

    </article>

    {{ partial "section_pager.html" . }}

</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
