<section id="about" class="home-section">
    <div class="container">
        <div class="row">
            {{ "BIASlab is an academic research team at Eindhoven University of Technology. Our research focuses on nature-inspired artificial intelligence technology for engineering applications. We are inspired by recent results in computational neuroscience (the [Free Energy Principle](https://en.wikipedia.org/wiki/Free_energy_principle)) on how the brain perceives, learns and makes decisions through unsupervised real-time interactions with its environment. \n\n Our mission is to translate these ideas to *synthetic agents* that automate the design of signal processing and control systems through real-time unsupervised interactions with its environment. Applications range from real-time design of multimedia applications (e.g., personalized hearing aid algorithms) to decision making for robot and drone navigation." | markdownify }}
        </div>
        <div class="row content-center"><a class="btn btn-primary btn-outline" href="/about">Find out more</a></div>
    </div>
</section>