<div class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="row">
        {{ if .Params.image_preview }}
        <div class="col-md-12">
            <a href="{{ .Permalink }}">
                <img src="{{ $.Site.BaseURL }}/img/{{ .Params.image_preview }}" class="pub-banner" itemprop="image">
            </a>
        </div>
        <div class="col-md-12">
        {{ else if .Params.image}}
        <div class="col-md-12">
            <a href="{{ .Permalink }}">
                <img src="{{ $.Site.BaseURL }}/img/{{ .Params.image }}" class="pub-banner" itemprop="image">
            </a>
        </div>
        <div class="col-md-12">
        {{ else }}
        <div class="col-md-12">
        {{end}}

            <h3 class="article-title" itemprop="name">
                <a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a>
            </h3>

            <div class="pub-authors" itemprop="author">
                {{ partial "authors" .Params.authors}}
            </div>

            <div class="pub-publication">
                {{ if .Params.publication_short }}
                    {{ .Params.publication_short | markdownify }}
                {{ else }}
                    {{ .Params.publication | markdownify }}
                {{ end }}
                {{ with .Params.award }}
                    <br>
                        {{ . }}
                    </br>
                {{ end }}
                <div itemprop="datePublished">
                    {{ if .Params.to_be_published }}
                        To be published in {{ dateFormat "January, 2006" .Params.publication_date }}
                    {{ else }}
                        {{ .Date.Format "January, 2006" }}
                    {{ end }}
                </div>
            </div>

            <div class="pub-links">
                {{ partial "publication_links" (dict "content" . "is_list" 1) }}
            </div>

        </div>
    </div>
</div>
