{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ partial "slogan.html" . }}

<!-- Projects Section -->
{{ $projects_len := len (where .Data.Pages "Type" "project") }}
{{ if gt $projects_len 0 }}
<section id="projects" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1><a href="{{.Site.BaseURL}}/project/">{{ with .Site.Params.projects.title }}{{ . | markdownify }}{{ end }}</a></h1>
                {{ with .Site.Params.projects.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
            <div class="col-xs-12 col-md-8">
                <ul class="fa-ul">
                    {{ range first .Site.Params.projects.count (where .Data.Pages "Type" "project") }}
                    <li>
                        <span class="project-title">
                        {{ if .Content }}<a href="{{ .Permalink }}">{{ else }}{{ with .Params.external_link }}<a href="{{ . }}">{{ end }}{{ end }}
                        <i class="fa-li fa fa-files-o pub-icon" aria-hidden="true"></i>
                        {{ .Title }}
                        {{ if .Content }}</a >{{ else }}{{ with .Params.external_link }}</a>{{ end }}{{ end }}
                        </span>

                        {{ with .Params.description }}<p class="project-summary">{{ . }}</p>{{ end }}

                        {{ if isset .Params "tags" }}
                        {{ $tagsLen := len .Params.tags }}
                        {{ if gt $tagsLen 0 }}
                        <div class="project-tags">
                            <i class="fa fa-tags"></i>
                            {{ range $k, $v := .Params.tags }}
                            {{ . }}{{ if lt $k (sub $tagsLen 1) }}, {{ end }}
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div>
            {{ if gt $projects_len .Site.Params.projects.count }}
            <p class="view-all">
                <a href="{{ .Site.BaseURL }}/project/">
                    {{ with .Site.Params.projects.str_all }}{{ . | markdownify }}{{ end }}
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </p>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

<!-- Publications Section -->
{{ $pubs_len := len (where .Data.Pages "Type" "publication") }}
{{ if gt $pubs_len 0 }}
<section id="publications" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1><a href="{{.Site.BaseURL}}/publication/">{{ with .Site.Params.publications.title }}{{ . | markdownify }}{{ end }}</a></h1>
                {{ with .Site.Params.publications.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
            <div class="col-xs-12 col-md-8">
                {{ if .Site.Params.publications.detailed_list }}
                {{ range first .Site.Params.publications.count (where .Data.Pages "Type" "publication") }}
                {{ partial "publication_li_detailed" . }}
                {{ end }}
                {{ else }}
                <ul class="fa-ul">
                    {{ range first .Site.Params.publications.count (where .Data.Pages "Type" "publication") }}
                    {{ partial "publication_li_detailed" . }}
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
        <div>
            {{ if gt $pubs_len .Site.Params.publications.count }}
            <p class="view-all">
                <a href="{{ .Site.BaseURL }}/publication/">
                    {{ with .Site.Params.publications.str_all }}{{ . | markdownify }}{{ end }}
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </p>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

<!-- Blog Posts Section -->
{{ $posts_len := len (where (where .Data.Pages "Type" "post") ".Params.notonhomepage" nil) }}
{{ if gt $posts_len 0 }}
<section id="posts" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1><a href="{{ $.Site.BaseURL }}/post/"> {{ with .Site.Params.posts.title }}{{ . | markdownify }}{{ end }}</a></h1>
                {{ with .Site.Params.posts.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
            <div class="col-xs-12 col-md-8">
                {{ range first .Site.Params.posts.count (where (where .Data.Pages "Type" "post") ".Params.notonhomepage" nil) }}
                <div class="article-list-item" itemscope itemprop="blogPost">
                    {{ if .Params.image }}
                    <a href="{{ .Permalink }}">
                        <img src="{{ $.Site.BaseURL }}/img/{{ .Params.image }}" class="article-banner" itemprop="image">
                    </a>
                    {{end}}
                    <h3 class="article-title" itemprop="name"><a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a></h3>
                    <p class="article-style" itemprop="articleBody">
                        {{ .Params.short_text }}
                    </p>
                    <p class="read-more">
                        <a href="{{ .Permalink }}" class="btn btn-primary btn-outline">
                            {{ with .Site.Params.posts.str_read_more }}{{ . | markdownify }}{{ end }}
                        </a>
                    </p>
                </div>
                {{ end }}
            </div>
        </div>
        <div>
            {{ if gt $posts_len .Site.Params.posts.count }}
            <p class="view-all">
                <a href="{{ .Site.BaseURL }}/post/">
                    {{ with .Site.Params.posts.str_all }}{{ . | markdownify }}{{ end }}
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </p>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}


<!-- Members -->
<section id="members" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1 class="section-heading"><a href="{{.Site.BaseURL}}/member/"> Members </a></h1>
            </div>
        </div>
        <div class="row">
            {{ range first 4 (where .Data.Pages "Type" "member") | shuffle}}
                {{ partial "member_simple" . }}
            {{ end }}
        </div>
        <div class="row">
            {{ range after 4 (where .Data.Pages "Type" "member") | shuffle}}
                {{ partial "member_simple" . }}
            {{ end }}
        </div>
        <div>
            <p></p>
            <p class="view-all">
                <a href="{{ .Site.BaseURL }}/member/">
                    All members
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </p>
        </div>
    </div>
</section>

<!-- Contact Section -->
{{ if .Site.Params.contact.enable }}
<section id="contact" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1>{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h1>
                {{ with .Site.Params.contact.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
            <div class="col-xs-12 col-md-8">
                {{ partial "home_contact.html" . }}
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
