{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <h1>Members</h1>
    {{ range (sort .Data.Pages ".Params.sort_position") }}
        {{ if not .Params.is_former_member }}
            {{partial "member_li" .}}
        {{ end }}
    {{ end }}
</div>

{{ $alumni_len := len (where .Data.Pages ".Params.is_former_member" true ) }}
{{ if gt $alumni_len 0 }}
<div class="container">
    <h1>Alumni</h1>
    {{ range where .Data.Pages ".Params.is_former_member" true }}
        {{ partial "member_li" . }}
    {{ end }}
{{ end }}
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
