{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Open projects</h1>

            {{ range .Data.Pages.GroupByDate "2006" }}
            <div class="row" id="pub_list">
                <div class="col-md-2">
                    <h3>{{ .Key }}</h3>
                </div>
                <div class="col-md-10">
                        {{ range .Pages.ByDate.Reverse }}
                            {{ if .Content }}
                                {{ .Scratch.Set "link" .Permalink }}
                            {{ else if .Params.external_link }}
                                {{ .Scratch.Set "link" .Params.external_link }}
                            {{ end }}
                    
                            <h3><a href="{{ .Scratch.Get "link" }}" itemprop="url">{{ .Title }}</a></h3>
                            {{ with .Params.description }}
                                {{ . }}
                            {{ end }}
                        {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
