{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Posts</h1>

            {{ range .Data.Pages.GroupByDate "2006" }}
            <div class="row" id="pub_list">
                <div class="col-md-2">
                    <h3>{{ .Key }}</h3>
                </div>
                <div class="col-md-10">
                    {{ range .Pages.ByDate.Reverse }}

                    <div class="article-list-item" itemscope itemtype="http://schema.org/CreativeWork">
                        <div class="row">
                        <h3 class="article-title">
                            <a href="{{ .Permalink }}" itemprop="url">
                                {{ .Title }}
                            </a>
                        </h3>
                        {{.Params.short_text}}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}

        </div>
    </div>

</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
