{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Projects</h1>

            {{ range .Data.Pages.GroupByDate "2006" }}
            <div class="row" id="pub_list">
                <div class="col-md-2">
                    <h3>{{ .Key }}</h3>
                </div>
                <div class="col-md-10">
                    {{ range .Pages.ByDate.Reverse }}
                        <h3><a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a></h3>
                        {{ if .Params.short_description }}
                            {{ .Params.short_description | markdownify}}
                        {{ else }}
                            {{ with .Params.description }}
                                {{ . | markdownify}}
                            {{ end }}
                        {{ end }}
                        {{ end }}
                </div>
            </div>
            {{ end }}

        </div>
    </div>
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
